@model IEnumerable<PetStore.Models.Customer>

@{
    ViewBag.Title = "IndexAddress";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<h2>IndexAddress</h2>

<p>
    @Html.ActionLink("My addresses", "IndexAddress") |
    @Html.ActionLink("Add Shipping address", "CreateShipping") |
    @Html.ActionLink("Add billing address", "CreateBilling")
</p>

@* this is the table for the customer's shipping information *@
<h2>Shipping Addresses . . . </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress.ShippingAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress.ShippingAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress.ShippingCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress.ShippingState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress.ShippingPostalCode)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress.ShippingAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress.ShippingAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress.ShippingCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress.ShippingState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress.ShippingPostalCode)
            </td>
        </tr>
    }
</table>
<hr />

@* this is the table for the customer's billing information *@
<h2>Billing Addresses . . . </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress.BillingAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress.BillingAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress.BillingCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress.BillingState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress.BillingPostalCode)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress.BillingAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress.BillingAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress.BillingCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress.BillingState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress.BillingPostalCode)
            </td>
        </tr>
    }
</table>
