@model IEnumerable<PetStore.Models.Customer>

@{
    ViewBag.Title = "Payment Methods";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<h2>Your Wallet . . . </h2> <br />

@* this is the table for the customer's payment information *@
<h2>Payment Information . . . </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentInformation.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentInformation.CardPin)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentInformation.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentInformation.CardPin)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>
<hr />

